@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
  }
}

@layer utilities {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
  }
  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5 {
    @apply text-tic-blue-dark;
  }
  .prose ul li p,
  .prose ol li p {
    margin: 0;
  }
}
