@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'hyperlegible', sans-serif;
  }
}

@layer utilities {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
  }
}
